* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.contrainner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-flow: column wrap;
}
.msg {
  width: 400px;
  padding-bottom: 10px;
  font-weight: bolder;
}
.Form {
  width: auto;
}
.linkshort {
  padding-top: 30px;
}
.qr-contrain{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.QR-Warp{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.QR_P{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.contrain_qrs{
  width: 400px;
  justify-content: center;
  align-items: center;
}
.Url-text{
  text-align: center;
  overflow: hidden;
  width: 300px;
  height: 50px;
}
.link_qr {
  display: flex;
  flex-direction: column;
  align-items: center; /* จัดให้ลิงก์อยู่ตรงกลาง */
  justify-content: center;
  margin-top: 20px;
}
.link_qr {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 50px;
  width: auto;
  text-align: center;
}

.btn {
  margin-right: 60px;
  margin-left: 60px;
}
.button {
  background-color: #889188; /* สีปุ่ม */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s ease; /* ทำให้เอฟเฟกต์นุ่มนวล */
  cursor: pointer;
  border-radius: 5px;
}
.button:active {
  transform: scale(0.95); /* ยุบปุ่มเล็กน้อย */
  box-shadow: 0 5px #666;
  transform: translateY(4px); /* ขยับลงเล็กน้อย */
}
